//
// global variables
//

// $debug: false !default;
$debug: true;

//
// fonts
// ----------------

// font families
$fonts: (
  'opensans': (
    300: 'opensans-light',
    400: 'opensans-regular',
    600: 'opensans-semibold',
    700: 'opensans-bold',
    800: 'opensans-extrabold'
  )
);

// default fonts
$default-font: opensans;
$default-font-fallback: Frutiger, 'Frutiger Linotype', Univers, Calibri,
  'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed',
  'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue',
  Helvetica, Arial, sans-serif;
$default-font-family: unquote($default-font + ', ' + $default-font-fallback);

// default heading fonts
$heading-font: oswald;

// font sizes
$font-sizes: (
  tiny: 10px,
  x-small: 12px,
  small: 15px,
  normal: 16px,
  medium: 18px,
  medium-large: 20px,
  large: 21px,
  x-large: 24px,
  xx-large: 30px
);
$font-size-tiny: nth(map-get($font-sizes, tiny), 1);
$font-size-x-small: nth(map-get($font-sizes, x-small), 1);
$font-size-small: nth(map-get($font-sizes, small), 1);
$font-size-normal: nth(map-get($font-sizes, normal), 1);
$font-size-medium: nth(map-get($font-sizes, medium), 1);
$font-size-medium-large: nth(map-get($font-sizes, medium-large), 1);
$font-size-large: nth(map-get($font-sizes, large), 1);
$font-size-x-large: nth(map-get($font-sizes, x-large), 1);
$font-size-xx-large: nth(map-get($font-sizes, xx-large), 1);

// default font size
$font-size-default: $font-size-medium;

// line-height default
$line-height-default: 1.15;

//
// colors
// ----------------
$colors: (
  black: #000,
  light-black: #060606,
  charcoal: #404040,
  dim-grey: #616161,
  grey: #7f7f7f,
  dark-grey: #aaa,
  light-grey: #c9c9c9,
  very-light-grey: #d3d3d3,
  gainsboro: #e5e5e5,
  white: #ffffff,
  persia-indigo: #551a8b,
  red: #ff0000,
  blue: #0000ee,
  green: #108900
);
$black: nth(map-get($colors, black), 1);
$light-black: nth(map-get($colors, light-black), 1);
$charcoal: nth(map-get($colors, charcoal), 1);
$dim-grey: nth(map-get($colors, dim-grey), 1);
$grey: nth(map-get($colors, grey), 1);
$dark-grey: nth(map-get($colors, dark-grey), 1);
$light-grey: nth(map-get($colors, light-grey), 1);
$very-light-grey: nth(map-get($colors, very-light-grey), 1);
$gainsboro: nth(map-get($colors, gainsboro), 1);
$white: nth(map-get($colors, white), 1);
$blue: nth(map-get($colors, blue), 1);
$persia-indigo: nth(map-get($colors, persia-indigo), 1);
$green: nth(map-get($colors, green), 1);
$red: nth(map-get($colors, red), 1);

// default font color
$font-color-default: $light-black;

// link colors
$link-colors: (
  'link': $blue,
  'visited': $persia-indigo,
  'hover': $green,
  'active': $red
);

// form elements colors
$field-colors: (
  field: (
    color: $black,
    background: $white,
    border: $black,
    place-holder: $dark-grey
  ),
  hover: (
    color: $white,
    background: $white,
    border: rgba($black, 0.7)
  ),
  active: (
    color: $black,
    background: $white,
    border: rgba($white, 0.7)
  )
);

// error color
$error-color: $red;

// button colors
$btn-colors: (
  default: (
    color: $white,
    background: $black,
    border: rgba($white, 0.32),
    hover-color: $white,
    hover-background: rgba($white, 0.08),
    hover-border: rgba($white, 0.7)
  )
);

// images
$image-url: '~@app/assets/images/';

//
// transitions
// ----------------

// default transitions
$default-duration: 300ms;
$default-delay: 100ms;

//
// layout
// ----------------
$breakpoints: (
  'small': 360px,
  'medium': 768px,
  'large': 1024px
);
$app-max-width: 1400px;
